* {
    background-color: white;
}

.button-container {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 5vh;
    ;
}


button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
    line-height: 1;
    margin-left: 5vh;
    margin-right: 5vh;
    box-shadow: 0 0.1rem rgba(121,121,121,0.7);
}

button:hover{
    /* filter: brightness(110%); */
    color: rgb(100,100,100);
}

button:active{
    transform:translate(0,0.1rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.7);
}

.array-container {
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .array-bar {
    width: 5px;
    display: inline-block;
    margin: 0 3px;
  }